*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.pdf
*.ps
*.toc
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
.RData
.RHistory
.DS_Store

myNotes.*

git-intro/git-course-intro-17.tex
git-motivation/figures/*
git-motivation/git-for-Rworkshop.tex
git-motivation/NGbeforeCmerges.png
git-intro/build-pdf.bat
